<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.vmadalin.dynamicfeatures.characterslist">

    <dist:module
        dist:instant="true"
        dist:title="@string/feature_characters_list">
        <dist:delivery>
            <dist:install-time />
        </dist:delivery>
        <dist:fusing dist:include="false" />
    </dist:module>
</manifest>

